


/*
*
*
* CSS for the page Index.html.
* U can change this page as u wish. Do not change the @media which manages the mobile version, if u are not very 
* good in Responsive, contact the developer.
*
*
*/
li {
    text-align: left;
}

.container {
 text-align: center;
 margin-bottom: 50px !important;
}

.row {
 justify-content: center;
}

.border-free {
 background-color: rgb(54, 109, 228);
}

.border {
 background: #202831;
}

.border:hover {
 transform: scale(1.1);
 transition: transform 0.5s;
}
.border:active {
 transform: scale(0.9);
 transition: transform 0.5s;
}

.border:not(:hover) {
 transform: scale(1.0);
 transition: transform 0.5s;
}

.border-free:hover {
 transform: scale(1.1);
 transition: transform 0.5s;
}
.border-free:active {
 transform: scale(1.1);
 transition: transform 0.5s;
}

.border-free:not(:hover) {
 transform: scale(1.0);
 transition: transform 0.5s;
}

.plans-section h2 {
 font-size: 23px;
}

.plans-section h3 {
 padding-top: 50px;
 font-size: 23px;
}

.title-box {
 color: rgb(255, 255, 255);
 font-size: 27px;
 text-align: left;
 padding-top: 10px;
 margin-bottom: 0px;
 margin-left: 30px;
 padding-right: 0px;
}

.price {
 color: rgb(209,209,209);
 font-size: 1rem;
 text-align: left;
 padding-top: 0px;
 margin-left: 30px;
 margin-bottom: 5px;
}

.features {
 text-align: left;
 margin-left: 30px;
 color: rgb(255,255,255);
 font-size: 15px;
 padding-bottom: 15px;
}

.sub-title {
 justify-content: center;
 text-align: center;
 font-size: 24px;
}

@media screen and (max-width: 768px) {
 .plans-section h3 {
  font-size: 13px;
 }

 .border-free p {
  font-size: 13px;
 }

 .border p {
  font-size: 13px;
 }
}