.form-control-plaintext {
  width: 50%;
  /*margin-left: auto;*/
  margin-right: auto;
  /*margin-bottom: auto;*/
  /*margin-top: auto;*/
}

.image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

