.image {
  /*display: absolute;*/
  margin-left: auto;
  margin-right: auto;
  /*position: absolute;*/
  overflow: hidden;
  /*height: auto;*/
  /*width: auto;*/
  /*position: absolute;*/
  /*background: initial;*/
}

